/*This is the left section of the banner with the show information*/
#left-section{
width: 50%;
height: 170px;
float: left;
margin-left: 
 }
 #right-section{
width: 50%;
height: 170px;
float: right;
margin-left: 
 }